# {{name}}

> {{headline}}

{{#email}}📧 {{email}}{{/email}}{{#location}}{{#email}} | {{/email}}📍 {{location}}{{/location}}

{{#socialLinks}}
[{{platform}}]({{url}}) • 
{{/socialLinks}}
[GitHub](https://github.com/{{githubStats.username}})

---
