## GitHub Statistics

{{#githubStats}}
![GitHub Stats](https://github-readme-stats.vercel.app/api?username={{username}}&show_icons=true&theme=default)

📦 {{totalRepos}} repositories | ⭐ {{totalStars}} stars | 🔱 {{totalForks}} forks
{{/githubStats}}
