{{> header }}

{{#bio}}
<p align="center">
  {{ bio }}
</p>
{{/bio}}

---

{{#showSkillsGrid}}
{{> skills-grid }}
{{/showSkillsGrid}}

{{#showProjects}}
{{> projects }}
{{/showProjects}}

{{#showStats}}
{{> stats }}
{{/showStats}}

{{> footer }}
