<div align="center">

# {{name}}

### {{headline}}

{{#email}}📧 {{email}} • {{/email}}{{#location}}📍 {{location}} • {{/location}}{{#githubStats.username}}🐙 [@{{githubStats.username}}](https://github.com/{{githubStats.username}}){{/githubStats.username}}

{{#socialLinks}}
<img alt="{{platform}}" src="https://img.shields.io/badge/-{{platform}}-{{primaryColor}}?style=flat-square&logo={{platform}}&logoColor=white" />
{{/socialLinks}}

</div>

---
