## 🛠️ Technical Skills

{{#skills}}
### {{category}}

{{#skills}}
![{{name}}](https://img.shields.io/badge/-{{name}}-{{primaryColor}}?style=flat-square&logo={{name}}&logoColor=white)
{{/skills}}

{{/skills}}
