{{>header}}

---

### About Me

{{{bio}}}

{{>tech-stack}}

{{>current-projects}}

{{>projects-table}}

{{>skills-categories}}

{{>experience}}

{{>social-links}}

{{>recent-posts}}

---

{{>footer}}
