<h1 align="center">Hey 👋, I'm {{name}}</h1>
<h3 align="center">{{headline}}</h3>

<p align="center">
{{#socialLinks}}
  <a href="{{url}}" target="_blank">
    <img src="https://img.shields.io/badge/{{platform}}-%23000.svg?style=for-the-badge&logo={{platform}}&logoColor=white" alt="{{platform}}" />
  </a>
{{/socialLinks}}
</p>

<p align="center">
  <img src="https://komarev.com/ghpvc/?username={{githubStats.username}}&label=Profile%20views&color=0e75b6&style=flat" alt="{{githubStats.username}}" />
</p>
