<h2 align="center">🚀 Technologies & Tools</h2>

<p align="center">
{{#skills}}
  {{#skills}}
  <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/{{name}}/{{name}}-original.svg" alt="{{name}}" width="{{iconSize}}" height="{{iconSize}}" />
  {{/skills}}
{{/skills}}
</p>
